{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-right: 200px;
    margin-left: -15px;">

            <div class="col-lg-6">
                <div class="login">
                    <div class="login-screen">
                        <div class="app-title">
                            <h1 class="headline"
                                style="font-family: Roboto,sans-serif; font-size: 28px; margin-bottom: 30px">Add New
                                Food Item</h1>
                        </div>

                        <form method="POST" action="" class="login-form form-inline">
                            {% csrf_token %}

                            {% for field in form %}
                                <h5 class="form-labels">
                                    {{ field.label }}
                                </h5>
                                {{ field }}

                            {% endfor %}

                            <input class="btn mt-2"
                                   style="background: black; font-family: Roboto, sans-serif; margin-top: 30px"
                                   type="submit" value="add">

                        </form>
                        <form method="get" style="font-family: Roboto,sans-serif; font-size: 28px; margin-bottom: 30px">
                            <h1 class="headline"
                                style="font-family: Roboto,sans-serif; font-size: 28px; margin-bottom: 30px">{{ myFilter.form }}</h1>
                            <button class="btn mt-2" type="submit"
                                    style="background: black; font-family: Roboto, sans-serif;">Search
                            </button>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 " style="max-width: 50%">
                <h1 class="headline"
                    style="font-family: Roboto,sans-serif; font-size: 28px; margin-bottom: 30px;margin-top: 30px;margin-left: 250px;">
                    All Food Items </h1>
                <table class="table table-bordered text-center mt-3" style="margin-left: 70px;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Food</th>
                        <th scope="col">Measure</th>
                        <th scope="col">KCAL</th>
                        <th scope="col" style="width: 40px">CHO</th>
                        <th scope="col">FAT</th>
                        <th scope="col">PRT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for food in food_items %}
                        <tr>
                            <td>{{ food.name }}</td>
                            <td>{{ food.measure }}</td>
                            <td>{{ food.calorie }}</td>
                            <td>{{ food.carbohydrate }}</td>
                            <td>{{ food.fats }}</td>
                            <td>{{ food.protein }}</td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {#</div>#}
{% endblock content %}
